.main#main-page
    .container
        include ../../components/support/support
        include ../../components/auth/auth
        include ../../components/modal/signIn/signIn
        h1.title MathQuiz
        include ../../components/menu/menu

