.menu{
  ul{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 50px;
    li{
      list-style-type: none;
      margin: 10px;
      button {
        padding: 10px;
        font-size: 32px;
        font-weight: 700;
        color: white;
        transition: .5s;
        text-transform: uppercase;
        letter-spacing: 1px;
        &:hover{
          color: #ffcdd2;
        }
      }
    }
  }
}