.support
    button(type='button' class='support__button') ?
    .support__content
        .container
            .support__content__inner
                button(class='support__close-button')
                    img(src='../../assets/images/close.png' alt='x')
                .text
                    h3 Правила игры
                    p Введите свое имя, выберите режим Practice или Attack и нажмите Answer.
                    p Attack - у вас есть время (1.5мин) за это время вы должны как можно больше ответить на вопросы. После окончания времени ваш итог сохраняется в Leaderboard.
                    p Practice - у вас нет времени и вы тренируетесь отвечая на вопросы. После можете нажать stop и ваш результат сохранится в Records.