.attack#attack-page
    include ../../components/resultWindow/resultWindow
    +resultWindow('attack')
    .container
        include ../../components/stopGameButton/stopGameButton
            +stopGameButton('attack')
            include ../../components/auth/auth
            +authBlock('attack')
            include ../../components/modal/signIn/signIn
        .task#attack__task
            .first-number.item
                .operator.item
                .second-number.item
                .equals.item
                input(type="number" value="" id="attack__input" class="task__input")

        button(type='button' id="attack__answer-button" class="answer-button") ANSWER

        .result
            .score#attack__score score: 0
            .correct-answer#attack__correct-answer +1
            .wrong-answer#attack__wrong-answer -1