.records
    .container
        .records__content
            button.records__close
                img(class='close-image' src='../../../assets/images/close.png')
            .records__header
                button(id='records__practice__button' class='records__mode-button') practice
                button(id='records__attack__button' class='records__mode-button') attack
            ul.records__table
                li
