.signIn#sign-in__window
    .container
        .content#sign-in__content
            h1 Sign In
            input(placeholder='name' id='sign-in__input' value='')
            button(type='button' id='sign-in__continue-button') continue