.signIn
    .container
        .content.sign-in__content
            button(type='button' class='close sign-in__close')
                img(src='../../../assets/images/close.png' alt='x')
            h1 Sign In
            input(placeholder='name' class='sign-in__input' value='')
            span
            button(type='button' class='sign-in__continue-button continue') continue